header {
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
  display: flex;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0; }

input {
  align-items: center;
  max-width: 150px; }

.pos-right {
  display: flex;
  justify-content: flex-end;
  right: 75px;
  top: 23px; }

.input-group, .row, .col-lg-6 {
  width: 100%;
  padding: 0; }

.margine-top {
  margin-top: 90px; }

table {
  margin-top: 90px; }

.logo {
  margin-top: 25px;
  font-size: 3em; }
